
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    list-style: none;
}


.background-nav-inf {
    background-color: #1C1C1C;
}

.background-card {
    background-color: #0482F9;
}

.background-jumbotron {
    background-image: url(/public/footer-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-footer {
    background-color: #303030;
    position: relative;
    z-index: 10;
}

.colore-testo-link {
    color: #797979;
    font-size: 12px;
    font-weight: bold;
}